body {
    background-color: #FA8072;
}

.divisao-numeros {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px 0;
}

.divisao-resultado {
    display: flex;
    flex-direction: column;
    align-items: center;
}