body {
    background-color: #FA8072;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divisao-numeros, .divisao-resultado {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px 0;
    background-color: #FFFFE0;
    width: 50%;
}
